# Resume analysis service
GROQ_API_KEY=
RESUME_ANALYSIS_TIMEOUT_MS=20000

# Firebase Authentication
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=signal-scout-31610.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=signal-scout-31610
VITE_FIREBASE_STORAGE_BUCKET=signal-scout-31610.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=59596794607
VITE_FIREBASE_APP_ID=1:59596794607:web:d987866c0f53edb06c091a
